@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50rem);
            transform: translateX(50rem); }
  100% {
    opacity: 1;
    -webkit-transform: tranlateX(0);
            transform: tranlateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50rem);
            transform: translateX(50rem); }
  100% {
    opacity: 1;
    -webkit-transform: tranlateX(0);
            transform: tranlateX(0); } }

@-webkit-keyframes moveInFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }

:root {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }
  @media (max-width: 850px) {
    :root {
      font-size: 45%; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: #fff; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.heading-primary {
  width: 50%;
  font-size: 5.5rem;
  margin-top: 8rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-shadow: 0.5rem 1rem 5rem rgba(0, 0, 0, 0.2);
  -webkit-animation-name: moveInFromRight;
          animation-name: moveInFromRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }
  @media (max-width: 850px) {
    .heading-primary {
      width: 80%;
      font-size: 4rem;
      margin-left: 15%; } }

.heading-secondary {
  font-size: 4rem; }
  .heading-secondary--red {
    color: #892e2a; }
  .heading-secondary--black {
    color: #000;
    -webkit-animation-name: moveInFromBottom;
            animation-name: moveInFromBottom;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 850px) {
      .heading-secondary--black {
        text-align: center; } }
  .heading-secondary--white {
    color: #fff; }

p {
  font-family: "PT Sans", sans-serif;
  font-weight: 500; }

.btn-navbar {
  color: #fff;
  border: 0.3rem solid #2e7287;
  border-radius: .5rem;
  padding: 1rem; }
  .btn-navbar:hover {
    background-color: #2e7287; }

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .modal__close {
    position: fixed;
    font-size: 5rem;
    top: 0;
    right: 2rem;
    color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
    .modal__close:hover {
      cursor: pointer; }
  .modal__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem; }
    .modal__menu * {
      margin-bottom: 3rem;
      text-align: center; }
  .modal__box {
    width: 30%;
    height: 20%;
    background-color: #fff;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    font-size: 2rem; }
    .modal__box :first-child {
      margin-bottom: 2rem; }
    @media (max-width: 850px) {
      .modal__box {
        width: 80%;
        height: 40%; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem; }
  @media (max-width: 850px) {
    .about {
      margin-top: 4rem; } }

.about-me {
  width: 100%;
  margin-top: 12rem;
  margin-bottom: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 850px) {
    .about-me {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  @media (max-width: 850px) {
    .about-me__left {
      margin-bottom: 10rem; } }
  .about-me__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about-me__right > * {
      width: 60%; }
    @media (max-width: 850px) {
      .about-me__right {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .about-me__right > * {
          width: 80%; } }
  .about-me__sub-heading {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
    margin-bottom: 1rem; }
  .about-me__paragraph {
    font-size: 1.7rem;
    line-height: 3.5rem; }
    @media (max-width: 850px) {
      .about-me__paragraph {
        margin-bottom: 8rem; } }
  .about-me > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.picture-wrapper {
  height: 100%;
  width: 100%; }
  .picture-wrapper__picture {
    width: 40%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    position: absolute; }
    .picture-wrapper__picture:hover {
      z-index: 1;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .picture-wrapper__picture--1 {
      left: 17rem;
      top: -1rem; }
    .picture-wrapper__picture--2 {
      left: 35rem;
      top: 2rem; }
    .picture-wrapper__picture--3 {
      left: 25rem;
      top: 10rem; }
    @media (max-width: 850px) {
      .picture-wrapper__picture--1 {
        left: 15%;
        top: -1rem; }
      .picture-wrapper__picture--2 {
        left: 45%;
        top: 2rem; }
      .picture-wrapper__picture--3 {
        left: 30%;
        top: 8rem; } }

.footer {
  background-color: #201f23;
  padding: 5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social-media {
  font-size: 3rem;
  margin-bottom: 3rem; }
  .social-media *:hover {
    color: #2e7287; }
  .social-media *:not(:last-child) {
    margin-right: 2rem; }

.copyright {
  font-size: 1.1rem; }

.header {
  height: 80vh;
  background-image: url(../images/roberto-nickson-1424153-unsplash.jpg);
  background-size: cover;
  background-position: 0, -10rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  color: #fff; }

.navbar {
  height: 15rem;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  letter-spacing: .25rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 850px) {
    .navbar {
      height: 10rem; } }
  .navbar__logo {
    font-size: 3rem;
    margin: 5rem; }
  .navbar__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navbar__nav-item:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: all .2s;
      transition: all .2s; }
    .navbar__nav-item:not(:last-child) {
      margin-right: 5rem; }
  .navbar__contact {
    margin: 5rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 850px) {
      .navbar__contact {
        margin: 3rem; } }
  .navbar > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  @media (max-width: 850px) {
    .navbar > *:not(.navbar__contact):not(.navbar__menu) {
      display: none; } }
  .navbar__menu {
    margin-left: 2rem;
    font-size: 3rem;
    display: none; }
    .navbar__menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 3rem 2rem;
      border: 0.3rem solid #2e7287;
      border-radius: .5rem; }
      .navbar__menu-btn:hover {
        cursor: pointer;
        background-color: #2e7287; }
    .navbar__menu-icon, .navbar__menu-icon::before, .navbar__menu-icon::after {
      width: 3rem;
      height: .2rem;
      background-color: #fff;
      display: inline-block; }
    .navbar__menu-icon::before, .navbar__menu-icon::after {
      position: absolute;
      content: "";
      left: 0; }
    .navbar__menu-icon::before {
      top: -1rem; }
    .navbar__menu-icon::after {
      top: 1rem; }
    @media (max-width: 850px) {
      .navbar__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .navbar a {
    color: #fff; }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2e7287; }
  .portfolio h2 {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 10rem; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20rem; }
  .gallery > * {
    height: 35rem; }
    @media (max-width: 850px) {
      .gallery > * {
        margin-bottom: 3rem; } }
    .gallery > *:hover .overlay {
      opacity: .9; }
    .gallery > * img {
      height: inherit; }

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .overlay__text {
    opacity: 1; }
