:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

    @include respond(phone) {
        font-size: 45%;
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    position: relative;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: $color-white;

}

body {
    box-sizing: border-box;
    // overflow: hidden;
}